<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Technical Support</title>
    @Styles.Render("~/Content/css")
    @* Agregamos Font Awasome para agregar iconos *@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    
    <link rel="stylesheet" href="~/Content/animate.css">

    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    

    <link rel="stylesheet" href="~/Content/ionicons.min.css">

    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="https://localhost:44363/"><span>Technical Support</span></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto">

                    <li class="nav-item"><a href="@Url.Action("Index","Home")" class="nav-link">Inicio</a> </li>
                    <li class="nav-item"><a href="@Url.Action("About","Home")" class="nav-link">Acerca</a> </li>
                          @if (User.Identity.IsAuthenticated)
                           {
                             <li class="nav-item"><a href="@Url.Action("Index","Tipoes")" class="nav-link">Servicios</a> </li>
                             <li class="nav-item"><a href="@Url.Action("Index","Costoes")" class="nav-link">Trabajos</a> </li>
                                               
                           }
                              @if (User.IsInRole("Administrator"))
                               {
                   
                                  <li class="nav-item"><a href="@Url.Action("Index","Roles")" class="nav-link">Roles</a> </li>
                               }
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>
    </nav>
    @RenderBody()

    <div>

        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Technical Support</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  
    <script src="~/Scripts/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/scrollax.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
