@model IEnumerable<SoporteWeb.Models.Costo>



<div class="main-content">
   
        <!-- END OVERVIEW -->
        <div class="row">
            <div class="col-md-6">
                <!-- RECENT PURCHASES -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Trabajos Recientes</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body no-padding">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                  
                                    <th>
                                        @Html.DisplayNameFor(model => model.DateTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    
                                </tr>
                            </thead>
                            
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                       
                                    </tr>
                                }
                            
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i>Ultimo Momento</span></div>
                            <div class="col-md-6 text-right"><a href="@Url.Action("Index","Costoes")" class="btn btn-primary">Ver Todo</a></div>
                        </div>
                    </div>
                </div>
                <!-- END RECENT PURCHASES -->
            </div>
            <div class="col-md-6">
                <!-- MULTI CHARTS -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ventas Anuales</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="visits-trends-chart" class="ct-chart"></div>
                    </div>
                </div>
                <!-- END MULTI CHARTS -->
            </div>
        </div>
      
        </div>
        <div class="row">
            
            <div class="col">
                <!-- VISIT CHART -->
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Visitas de la pagina</h3>
                        <div class="right">
                            <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                            <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="visits-chart" class="ct-chart"></div>
                    </div>
                </div>
                <!-- END VISIT CHART -->
            </div>
           
        </div>
    </div>
</div>