@model SoporteWeb.Models.Costo

@{
    ViewBag.Title = "Delete";
}

    <div class="text-center mt-3">
        <h2><p class="text-black font-weight-bolder">Eliminar</p></h2>
    </div>

    <div class="container">
        <div class="col-md-10">
            <div class="card">
                <h3 class="text-center">¿Seguro que deseas eliminarlo?</h3>
                <div>
                    <h4>Costo</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Tipo.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Tipo.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DateTime)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DateTime)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                    </dl>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="text-center">
                            <input type="submit" value="Eliminar" class="btn btn-dark" /> |
                            @Html.ActionLink("Regresar a la lista", "Index", "Costoes", new { @class = "btn btn-dark" })
                        </div>
                    }
                <br />
                <br />

                </div>
            </div>

        </div>
    </div>




