@model SoporteWeb.Models.Costo

@{
    ViewBag.Title = "Details";
}
<div class="Muerdes">
    <br />
    <br />
    <br />
</div>
<div class="Masticas">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="text-center mt-3">
        <h2><p class="text-black font-weight-bolder">Detalles</p></h2>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h4>Lista de Detalles</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tipo.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateTime)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                </dl>
                <div class="text-center">
                    @Html.ActionLink("Editar", "Edit", "Costoes", new { id = Model.Id }, new { @class = "btn btn-dark" }) |
                    @Html.ActionLink("Regresar", "Index", "Costoes", new { @class = "btn btn-dark" })
                </div>
            </div>

        </div>

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>



<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Technical Support</h2>
                    <p>Una Empresa totalmente capacitada para resolver tus problemas informáticos</p>

                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Servicios</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fas fa-server"></i> Virtualización de servidores</a></li>
                        <li><a href="#"><i class="fas fa-user-friends"></i> Soporte presencial</a></li>
                        <li><a href="#"><i class="fas fa-laptop"></i> Soporte Remoto</a></li>
                        <li><a href="#"><i class="fas fa-desktop"></i> Orientación Informática</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Lista de Contacto</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i><span class="text"> Calle Coahuila 2009, Zona Nte., 22000 Tijuana, B.C.</span></li>
                            <li><i class="fas fa-phone-alt"></i><span class="text"> +52 664 111 55 44 </span></li>
                            <li><i class="fas fa-envelope"></i><span class="text"> info@tech.net</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>