@model SoporteWeb.Models.Tipo

@{
    ViewBag.Title = "Create";
}

    <div class="text-center mt-3">
        <h2><p class="text-white font-weight-bolder">Crear</p></h2>
    </div>
    <div class="jojos">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>Tipo</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group text-center">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Crear" class="btn btn-dark" />
                                    @Html.ActionLink("Regresar a la lista", "Index", "Tipoes", new { @class = "btn btn-dark" })
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
