@model IEnumerable<SoporteWeb.Models.Tipo>

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<br />
<br />

    <div class="text-center mt-3">
        <h2><p class="text-white font-weight-bolder">Tipos de Servicios</p></h2>
    </div>


    <p class="text-center mt-3 ">
        @if (User.IsInRole("Administrator"))
        {


            <a href="@Url.Action("Create","Tipoes")" class="btn btn-sm bg-dark text-white"><i class="fas fa-plus"></i>Agregar</a>
        }
    </p>
    <div class="jojos">
        <div class="">
            <div class="col-md-6">
                <div class="card">


                    <div class=" card-header">
                        Lista de Servicios
                    </div>

                    <div class="card-body">
                        <table class="table">

    

                  

                            <thead class="thead-dark">

                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>

                                    <th></th>

                                    

                                </tr>

                            </thead>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Tipoes", new { id = item.Id })" title="Editar"><i class="fas fa-file-alt text-warning"></i></a>

                                        <a href="@Url.Action("Details", "Tipoes", new { id = item.Id })" title="Ver"><i class="fas fa-eye text-info"></i></a>

                                        <a href="@Url.Action("Delete", "Tipoes", new { id = item.Id })" title="Eliminar"><i class="fas fa-times-circle text-danger"></i></a>

                                    </td>
                                </tr>
                            }

                        </table>

                    </div>

                </div>

            </div>
        </div>


    </div>

 

